.contentControl {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.checkIconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1fae5;
  width: 7rem;
  height: 2rem;
  border-radius: 30px;
}

.forsikringsBox {
  border-radius: 20px;
}

.redBox {
  background-color: #fee2e2;
  color: black;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
